*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
header{
    background-color: white;
}
.footer{
    background-color: #20b2ab85;
    padding-left: 20px;
    height: 40px;
    padding-top: 10px;
    font-size: 12px;
}

/*________________________IMAGEN SLIDER____________________*/

.imagen img{
    width: 250px;
    height: 240px;
    padding-left: 0px;
    border-radius: 15px;
}
.imagen{
    margin: 0px 0px 0px 65px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    height: 430px;
    width: 250px;
    border-radius: 15px;
    padding-top: 0px;
    transition: transform 0.5s, box-shadow 0.5s;
    /* box-shadow: 0.8px 0.8px 2px 4px rgba(147, 151, 151, 0.281); */
}
.imagen:hover{
    transform: scale(1.05);
    height: 435px;
    border-radius: 15px;
    padding-bottom: 20px;
    vertical-align: top; 
    box-shadow: 0.8px 0.8px 2px 4px rgba(147, 151, 151, 0.281);
}
.contenedor img{
    margin: 30px 30px 0px 73px;
    width: 89%;
    height: 450px;
    border-radius: 10px;
}
.contenedor{
    width: 100%;
    height: 300px; 
}
.botones{
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    position: absolute;
    color: lightseagreen;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.botones:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
}
.atras{
    left: 5px;
    top: calc(70% - 70px);

}
.adelante{
    right: 5px;
    top: calc(70% - 74px);
}
/*_____________________TEXTO H2___________________*/
.productos{
    text-align: center;
    margin-bottom: 50px;
}
h2{
    font-size: 30px;
}

/*______________________CAJAS____________________*/
.imagen .texto{
    margin: 10px 0px 0px 15px ;
    /*margin-top: 20px;
    margin-left: 20px;*/
    font-size: 15px;
}
.imagen .precio{
    margin-left: 90px;
    color: #80e7b7;
    font-size: 30px;
    font-weight: bold;
}
.imagen .cuotas{
    margin-left: 20px;
    padding-bottom: 20px;
}
#imagenes{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    padding-top: 5px;
    margin: 200px 0px 50px 10px;
    width: 99%;
    border-radius: 20px;
    height: 500px;
    margin-top: 10px;
}
.butunes{
    background-color: #93CBB8;
    padding: 5px 20px;
    margin-left: 25px;
    border-radius: 10px;
    border: 1px solid white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    transition-property: background-color, padding;
    transition-duration: 1s;
} 
.butunes:hover{
    background-color: lightseagreen;
    color: white;
}
/*_________________ENCABEZADO_________________*/

.logo img{
    width: 100px;
    margin-top: -20px;
}
#encabezado{
    height: 30px;
    background-color: white;
}

/*___________________MENÚ HAMBURGUESA_________________*/
.menu{
    position: fixed;
    width: 350px;
    background-color: #93cbb88f;
    height: 100vh;
    z-index: 10;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
    margin-top: 120px;
}
.menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
}
.menu .parrafoMenu{
    font-family: 'Varela Round', sans-serif;
    color: rgba(0, 0, 0, 0.671);
    font-weight: bold;
    transition-property: background-color, padding;
    transition-duration: 1s;
    border-radius: 5px;
    padding: 5px;
}
.menu .parrafoMenu:hover{
    background-color: rgba(32, 178, 171, 0.411);
    border-radius: 5px;
    padding: 15px 30px;
}
.menu.open{
    transform: translateX(0);
}
.hamburger{
    width: 40px;
    height: 20px;
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 20;
    transition: transform 0.3s;
    margin-top: 100px;
}
.line{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: lightseagreen;
    left: 0;
    transition: all 0.5s;
}
.line:first-child{
    top: 0;
}
.line:last-child{
    bottom: 0;
}
.line:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
.hamburger.open .line:nth-child(2){
    opacity: 0;
}
.hamburger.open{
    transform: rotate(180deg) scale(0.8);
}
.hamburger.open .line:first-child{
    top: 40%;
    transform: rotate(45deg);
    background-color: white;
}
.hamburger.open .line:last-child{
    top: 40%;
    transform: rotate(-45deg);
    background-color: white;
}
.menuLargo{
    display: flex;
}
.menuLargo .menuEnlaces{
    padding-top: 15px;
    padding-left: 30px;
}
.menuLargo .menuEnlaces1{
    padding-top: 15px;
    padding-left: 30px;
}
.menuLargo .menuEnlaces2{
    padding-top: 15px;
    padding-left: 30px;
}
.menuLargo p{
    color: white;
    font-size: 18px;
}
.menuLargo p:hover{
    color:lightseagreen;
}
.textoMenu{
    margin-left: 91%;
    margin-top: -23px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    transition: 5s;
}
/*_________________NAVEGACIÓN________________*/
.nav{
    background-color: #93CBB8;
    height: 70px;
    width: 100%;
    margin-top: -20px;
    padding: 10px 0px 0px 0px;
    transition: all .4s;
}
/*__________________ICONOS ENCABEZADO_______________*/
#encabezado .iconos{
    width: 270px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 80%;
    padding-bottom: 10px;
}
.ayuda img{
    width: 40px;
    height: 40px;
}
.usuario img{
    width: 40px;
    height: 40px;
}
.carrito img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.textoIconos{
    font-size: 10px;
}
/* .fijo{
    width: 100%;
    z-index: 20;
    position: fixed;
} */
/*_________________BARRA_________________*/
.barra{
    background-color: rgba(204, 193, 193, 0.473) ;
    width: 100%;
    height: 150px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.barra .icono img{
    width: 80px;
    margin-left: 60px;
    padding-bottom: 20px;
}
.barra p{
    color:lightseagreen;
    font-weight: bold;
    text-align: center;
}
/*__________________CHAT FIJO_______________*/
.chatFijo img{
    width: 50px;
    position: fixed;
    top: 90%;
    left: 95%;
    z-index: 30;
}
/*__________TITULO DE VALORES__________________*/
 .tituloValores{
     text-align: center;
     margin-top: 250px;
 }
/*_________________________BARRA DE VALORES__________*/
.valores{
    height: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.valores img{
    width: 100px;
    margin: 20px 0px 0px 0px;   
}
.valores img:hover{
    border-bottom: 3px solid black;
    padding-bottom: 20px;
}
.valores .textoLargo{
    font-size: 14px;
    color: rgb(104, 102, 102);
    padding-top: 20px;
    text-align: center;
    display: flex;
    width: 300px;
}
.valores .textoGrande{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.valores .medalla{
    margin-left: 110px;
    padding: 0px 0px 10px 10px;
}
.valores .manzana{
    margin-left: 100px;
    padding: 0px 10px 10px 10px;
}
.valores .chef{
    margin-left: 95px;
    padding: 0px 10px 10px 10px;
}
.valores .vegetales{
    padding: 0px 10px 10px 10px;
    margin-left: 100px;
}
/*_________NEWSLETTER____________*/
.newsletter{
    background-color: #20b2ab85;
    width: 100%;
    height: 350px;
    text-align: center;
    padding-top: 30px; 
}
.texto1{
    font-size: 14px;
    font-style: italic;
}
.texto2{
    font-weight: bold;
    font-size: 30px;
    padding-top: 60px;
}
.texto3{
    font-size: 16px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.texto4 input{
    border-radius: 15px;
    border: none;
    padding: 15px 300px 15px 10px;
    outline: none;
}
.texto4 button{
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
    border: none;
    background-color: lightseagreen;
    color: white;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
/*______________PIE DE PAGINA ______________*/
.piedePagina{
    margin-top: 40px;
    width: 100%;
    height: 300px;
    background-color: #93CBB8;
    display: flex;
    justify-content: space-around;
}
.tituloPie{
    font-size: 20px;
    margin-top: 30px;
}
.imagenesContacto img{
    width: 30px;
    margin-right: 10px;
}
.imagenesRedes img{
    width: 35px;
    margin-left: 20px;
}
.mediosdePago{
    background-color: #93CBB8;
    height: 100px;
    padding-left: 74px;
    padding-top: 20px;
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: lightseagreen;
    z-index: 50;
}
.enlacePie:hover{
    color: white;
}
.enlacePie{
    color:rgb(30, 128, 123);
}